.Box {
    margin: 20px;
    background: #000;
    height: 200px;
    width: 500px;
    overflow-y: auto;
  }

Li{
    height: 20px;
    list-style: none;
color: green;
font-size: 18px;
}
button{
  color: rgb(11, 114, 57);  
}